<!-- <div class="container"> ako ostavim ovo onda mi se ne vide TABOVI, a ako maknem ovo onda mi je side tab na scrollanje 
<p>works</p>
</div>  
-->

<div class="navtabs-container">
    
    <nav mat-tab-nav-bar fxFlex fxLayout=column fxLayoutAlign="center center">
        <!-- <span class="toolbar-flex"></span>
         <span class="toolbar-flex"></span>
        <mat-tab-group>
            <mat-tab label="Home">
                <app-home></app-home>
            </mat-tab>
            <mat-tab label="Hello 2"></mat-tab>
            <mat-tab label="Hello 3"></mat-tab>
            <mat-tab label="Hello 4"></mat-tab>
            <mat-tab label="Hello 5"></mat-tab>
        </mat-tab-group>
        <span class="toolbar-flex"></span> -->

<a mat-tab-link routerLink="/"
    routerLinkActive #home="routerLinkActive"
    [active]="home.isActive">
    Home
</a>

<a mat-tab-link routerLink="/apartmani"
    routerLinkActive #apartmani="routerLinkActive"
    [active]="apartmani.isActive">
    Apartmani
</a>

<a mat-tab-link routerLink="/hranainapitci"
    routerLinkActive #hranainapitci="routerLinkActive"
    [active]="hranainapitci.isActive">
    Hrana
</a>

<a mat-tab-link routerLink="/LIFESTYLE"
    routerLinkActive #LIFESTYLE="routerLinkActive"
    [active]="LIFESTYLE.isActive">
    Lifestyle
</a>

<a mat-tab-link routerLink="/vjencanjaiproslave"
    routerLinkActive #vjencanjaiproslave="routerLinkActive"
    [active]="vjencanjaiproslave.isActive">
    Proslave
</a>

<a mat-tab-link routerLink="/PONUDE"
    routerLinkActive #PONUDE="routerLinkActive"
    [active]="PONUDE.isActive">
    Ponude
</a>

    </nav> 
</div>
