<div class="container">
<div class="rezerviraj-container">
<div fxFlex fxLayoutAlign="flex-end">
    <button class="rezerviraj-button" mat-stroked-button color="primary">
        Rezerviraj sad
    </button>
  </div>
 </div>
<div class="header-container" fxLayout="row" fxLayout="column" fxLayoutAlign="center center">
<div >
    <h3 class="mat-subheading-2">
        Odmor za dušu i tijelo
    </h3>
    <h1 class="mat-headline">
        Emmi Beach Resort &amp; Spa
    </h1>
</div>

</div>

</div>

